[Desktop Entry]
Encoding=UTF-8
Name=Custom_Program_Name
Name[ca]=Custom_Program_Name
Name[de]=Custom_Program_Name
Name[el]=Custom_Program_Name
Name[es]=Custom_Program_Name
Name[fr]=Custom_Program_Name
Name[it]=Custom_Program_Name
Name[ja]=Custom_Program_Name
Name[nl]=Custom_Program_Name
Name[sv]=Custom_Program_Name
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=su-to-root -X -c CUSTOMPROGRAMNAME
Terminal=false
Type=Application
Icon=CUSTOMPROGRAMNAME
Categories=GNOME;GTK;System;
NoDisplay=false
