[Desktop Entry]
Encoding=UTF-8
Name=MX Live USB Maker
Nmae[am]=MX በ ቀጥታ-usb መፍጠሪያ
Name[ca]=MX Creador de USB autònoms
Name[de]=MX Live USB Erzeugung
Name[el]=MX Δημιουργός Live-usb
Name[es]=MX Construir Live-USB
Name[fr]=MX Créateur de Live-usb
Name[it]=MX Crea Live USB
Name[ja]=
Name[nl]=MX Live USB Maker
Name[pt]=MX-Criar USB-executável
Name[ro]=
Name[ru]=
Name[sv]=MX Live USB Maker
Comment=Create a full-featured live-usb
Comment[am]=ሙሉlገጽታ በ ቀጥታ-usb መፍጠሪያ
Comment[ca]=Crea un USB autònom complert
Comment[de]=Erzeugung eines voll ausgestatteten Live-USB-Sticks
Comment[el]=Δημιούργησε live-usb με πλήρη χαρακτηριστικά
Comment[es]=Construir Live-USB
Comment[fr]=Créer un live-usb complet
Comment[it]=Crea una Live USB con tutte le funzionalità
Comment[ja]=
Comment[nl]=Maak een volledig voorziene live-usb
Comment[pt]=Criar sistema executável (instalação frugal), com todas as funcionalidades, em dispositivo USB (Live-usb maker)
Comment[ro]=
Comment[ru]=
Comment[sv]=Skapa en live-usb med alla möjligheter
Exec=su-to-root -X -c CUSTOMPROGRAMNAME
Terminal=false
Type=Application
Icon=drive-removable-media-usb
Categories=System;MX-Live;
NoDisplay=false
