[Desktop Entry]
Encoding=UTF-8
Name[am]=MX በ ቀጥታ-usb መፍጠሪያ
Name[ca]=MX Creador de USB autònoms
Name[cs]=MX Tvůrce Live-USB
Name[da]=MX Live USB-skaber
Name[de]=MX Live USB Erzeugung
Name[el]=MX Δημιουργία Live USB
Name[es]=MX Construir Live-USB
Name[es_ES]=MX Creador Live-USB
Name[fr]=MX Live USB Création - MX Live USB Maker
Name[fr_BE]=MX Live USB Création - MX Live USB Maker
Name[he_IL]=יוצר USB חי MX
Name[hu]=MX Live-USB készítő
Name[it]=MX Crea Live USB
Name[ja]=MX ライブ USB メーカー
Name[nb]=MX Live-USB Maker
Name[nl]=MX Live USB Maker
Name[nl_BE]=MX Live USB Maker
Name[pl]=MX Live USB Maker
Name[pt]=MX-Criar USB-executável
Name[pt_BR]=Criador de Dispositivo USB Executável do MX
Name[ru]=MX Live USB Maker
Name[sk]=Vytvoriť LiveUSB
Name[sl]=MX Ustvarjalec za živi-usb pogon
Name[sq]=Krijues USB-je për MX Live
Name[sv]=MX Live USB-Skapare
Name[tr]=MX Live USB Oluşturucu
Name[zh_CN]=MX Live USB 制作器
Name[zh_TW]=MX 製作現場版 USB
Name=MX Live USB Maker
Comment[af]=Skep 'n volledige live-usb
Comment[am]=ሙሉlገጽታ በ ቀጥታ-usb መፍጠሪያ
Comment[ar]=ﺕﺎﻔﺻﺍﻮﻤﻟﺍ ﻞﻣﺎﻛ ﺮﺷﺎﺒﻣ USB ءﺎﺸﻧﺈﺑ ﻢﻗ
Comment[be]=Стварыце поўнафункцыянальны live-usb
Comment[bg]=Създава live-usb
Comment[bn]=একটি সম্পূর্ণ বৈশিষ্ট্যযুক্ত লাইভ-ইউএসবি তৈরি করুন
Comment[bs]=Kreirajte live-usb sa punim mogućnostima
Comment[ca]=Crea un USB autònom complert
Comment[ceb]=Paghimo usa ka bug-os nga bahin nga live-usb
Comment[co]=Crea un live-usb cumpletu
Comment[cs]=Tvorba Live USB s mnoha funkcemi 
Comment[cy]=Creu usb byw llawn sylw
Comment[da]=Opret en live-usb med det hele
Comment[de]=Live-USB-Stick mit voller Funktionalität erstellen
Comment[el]=Δημιουργία live-usb με πλήρη χαρακτηριστικά
Comment[eo]=Kreu plenfunkcian viva-usb
Comment[es]=Construir Live-USB
Comment[es_ES]=Crea un completo live-usb
Comment[et]=Looge täisfunktsionaalne reaalajas USB
Comment[eu]=Sortu funtzionalitate osoko zuzeneko USB bat
Comment[fa]=ﺪﯿﻨﮐ ﺩﺎﺠﯾﺍ ﻞﻣﺎﮐ ﺕﺎﻧﺎﮑﻣﺍ ﺎﺑ ﻩﺪﻧﺯ ﯽﺑ ﺱﺍﻮﯾ ﮏﯾ
Comment[fi]=Luo monipuolinen live-usb
Comment[fil]=Gumawa ng full-feature na live-usb
Comment[fr]=Créer un live-usb complet
Comment[fr_BE]=Créer un live-usb complet
Comment[fy]=Meitsje in live-usb mei folsleine funksjes
Comment[ga]=Cruthaigh beo-usb lán-chuma
Comment[gd]=Cruthaich beò-usb làn-nochdadh
Comment[gl]=Crea un USB en directo con todas as funcións
Comment[gu]=સંપૂર્ણ સુવિધાયુક્ત લાઇવ-યુએસબી બનાવો
Comment[ha]=Ƙirƙiri cikakken kebul na kebul na rayuwa
Comment[haw]=E hana i kahi ola-usb piha piha
Comment[he]=תונוכתה לכ םע Live-USB רוצ
Comment[he_IL]=יצירת USB להמחשה עם כל היכולות
Comment[hi]=एक पूर्ण विशेषताओं वाला लाइव-यूएसबी बनाएं
Comment[hr]=Stvorite live-usb s punim mogućnostima
Comment[ht]=Kreye yon usb vivan ki gen tout karakteristik
Comment[hu]=Teljesértékű, Live-USB rendszer készítése
Comment[hy]=Ստեղծեք լիարժեք հնարավորություններով live-usb
Comment[id]=Buat live-usb berfitur lengkap
Comment[is]=Búðu til lifandi usb með fullri lögun
Comment[it]=Crea una USB-Live con funzionalità completa
Comment[ja]=フル機能のライブ USB を作成します
Comment[jv]=Gawe live-usb kanthi fitur lengkap
Comment[ka]=შექმენით სრულფასოვანი ცოცხალი USB
Comment[kk]=Толық мүмкіндіктері бар live-usb жасаңыз
Comment[km]=បង្កើត Live-usb ដែលមានមុខងារពេញលេញ
Comment[kn]=ಪೂರ್ಣ-ವೈಶಿಷ್ಟ್ಯದ ಲೈವ್-ಯುಎಸ್u200cಬಿ ರಚಿಸಿ
Comment[ko]=모든 기능을 갖춘 라이브 USB 만들기
Comment[ku]=Zindî-usb-ya tev-taybetmendî biafirînin
Comment[ky]=Толук функциялуу жандуу USB түзүңүз
Comment[lb]=Erstellt e komplette Live-USB
Comment[lo]=ສ້າງເປັນ Live-usb ທີ່ມີຄຸນສົມບັດເຕັມຮູບແບບ
Comment[lt]=Sukurkite visas funkcijas turintį tiesioginį USB
Comment[lv]=Izveidojiet pilnu funkciju tiešraides USB
Comment[mg]=Mamorona live-usb misy endri-javatra feno
Comment[mi]=Waihangahia he USB-ora-katoa
Comment[mk]=Направете целосно опремен live-usb
Comment[ml]=ഒരു പൂർണ്ണ ഫീച്ചർ ലൈവ്-യുഎസ്ബി സൃഷ്ടിക്കുക
Comment[mn]=Бүрэн функцтэй live-usb үүсгэ
Comment[mr]=पूर्ण-वैशिष्ट्यीकृत लाइव्ह-यूएसबी तयार करा
Comment[ms]=Cipta live-usb berciri penuh
Comment[mt]=Oħloq live-usb bis-sħiħ
Comment[my]=အင်္ဂါရပ်အပြည့်ရှိသော တိုက်ရိုက် usb ကို ဖန်တီးပါ။
Comment[nb]=Lag en live-USB med alle funksjoner
Comment[ne]=एक पूर्ण-विशेष लाइभ-USB सिर्जना गर्नुहोस्
Comment[nl]=Maak een volledig voorziene live-usb
Comment[nl_BE]=Maak een volledig uitgeruste live-usb
Comment[ny]=Pangani mawonekedwe amoyo-usb
Comment[or]=ଏକ ପୂର୍ଣ୍ଣ-ବ featured ଶିଷ୍ଟ୍ୟ ବିଶିଷ୍ଟ ଲାଇଭ୍- usb ସୃଷ୍ଟି କରନ୍ତୁ |
Comment[pa]=ਇੱਕ ਪੂਰੀ-ਵਿਸ਼ੇਸ਼ਤਾ ਵਾਲਾ ਲਾਈਵ-USB ਬਣਾਓ
Comment[pl]=Utwórz w pełni funkcjonalny Live-USB
Comment[ps]=ﺉړﮐ ړﻮﺟ USB ﯼﺪﻧﻭﮊ ﯼړګﻧﺎځ ړﭙﺸﺑ ﻮﯾ
Comment[pt]=Criar um sistema operativo, com todas as funcionalidades, num dispositivo USB [mx-live-usb-maker]
Comment[pt_BR]=Cria um sistema operacional com todas as suas funcionalidades em um dispositivo USB com o MX Live USB Maker
Comment[ro]=Creați un USB live cu funcții complete
Comment[ru]=Создать полнофункциональный live-usb
Comment[rw]=Kora ibyuzuye-bizima-usb
Comment[sd]=ﻮﻴﻫﺎﭠ ﻲﺑ ﺲﻳﺍ ﻮﻳ ﻮﻴﺋﻻ﻿ ﻭﺭﺍﻭ ﺖﻴﺻﻮﺼﺧ ﻞﻤڪﻣ
Comment[si]=සම්පූර්ණ විශේෂාංග සහිත සජීවී-usb එකක් සාදන්න
Comment[sk]=Tvorba LiveUSB s plno funkciami
Comment[sl]=Ustvarite popolnoma uporaben živi usb pogon
Comment[sm]=Fausia se fa'aaliga atoatoa ola-usb
Comment[sn]=Gadzira yakazara-inoratidzirwa live-usb
Comment[so]=Samee usb toos ah oo sifaysan
Comment[sq]=Krijoni një USB Live instalimi me tërë veçoritë
Comment[sr]=Направите ливе-усб са пуним функцијама
Comment[st]=Theha li-usb tse nang le likarolo tse felletseng
Comment[su]=Jieun live-usb fitur lengkep
Comment[sv]=Skapa en live-usb med alla möjligheter
Comment[sw]=Unda live-usb iliyoangaziwa kamili
Comment[ta]=முழு அம்சம் கொண்ட லைவ்-யூஎஸ்பியை உருவாக்கவும்
Comment[te]=పూర్తి ఫీచర్ చేసిన లైవ్-యుఎస్u200cబిని సృష్టించండి
Comment[tg]=Эҷоди як USB-и мукаммали зинда
Comment[th]=สร้าง live-usb . ที่มีคุณสมบัติครบถ้วน
Comment[tk]=Doly aýratynlykly göni-usb dörediň
Comment[tr]=Tam özellikli bir live-usb oluşturun
Comment[tt]=Тулы функцияле live-usb ясагыз
Comment[ug]=ﺭﯘﻗ live-usb ﻖﯩﻟﺭﺍﺪﯩﺘﻘﯩﺋ ﻕﯘﻟﻮﺗ
Comment[uk]=Створіть повнофункціональний live-usb
Comment[ur]=ﮟﯿﺋﺎﻨﺑ ﯽﺑ ﺲﯾﺍ ﻮﯾ ﻮﯿﺋﻻ﻿ ﻻ﻿ﺍﻭ ﺕﺎﯿﺻﻮﺼﺧ ﻞﻤﮑﻣ ﮏﯾﺍ
Comment[uz]=To'liq xususiyatli jonli USB yarating
Comment[vi]=Tạo một live-usb đầy đủ tính năng
Comment[xh]=Yenza i-usb egcweleyo ngokupheleleyo
Comment[yi]=בסו-ןבעל דרעשטיפ-לופ אַ ןפֿאַש
Comment[yo]=Ṣẹda kan ni kikun-ifiweranṣẹ ifiwe-usb
Comment[zh_CN]=创建一个全功能的 live-usb
Comment[zh_TW]=創造功能完備的現場版 USB
Comment=Create a full-featured live-usb
Exec=mxlum-launcher
Terminal=false
Type=Application
Icon=CUSTOMPROGRAMNAME
Categories=System;MX-Live;
NoDisplay=false
MimeType=application/x-cd-image;
