Source: CUSTOMPROGRAMNAME
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: qt5-default,
        qttools5-dev-tools,
        qt5-qmake,
	debhelper (>=9),
	libcmd
Standards-Version: 3.9.8

Package: CUSTOMPROGRAMNAME
Architecture: any
Depends: ${misc:Depends}, 
	${shlibs:Depends}, 
	live-usb-maker (>=0.3.7), 
	libcmd, 
	cli-shell-utils, 
	xdg-utils | mx-viewer, 
	menu
Description: CUSTOMPROGRAMNAME
 CUSTOMPROGRAMNAME

