Source: CUSTOMPROGRAMNAME
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: qt5-qmake,
	debhelper (>=9)
Standards-Version: 3.9.8

Package: CUSTOMPROGRAMNAME
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, live-usb-maker, libcmd, cli-shell-utils, xdg-utils | mx-viewer
Description: CUSTOMPROGRAMNAME
 CUSTOMPROGRAMNAME

