Source: CUSTOMPROGRAMNAME
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: debhelper (>=10), qtbase5-dev, qttools5-dev-tools
Standards-Version: 3.9.8

Package: CUSTOMPROGRAMNAME
Architecture: any
Depends: cli-shell-utils,
         live-usb-maker,
         xdg-utils | mx-viewer,
         ${misc:Depends},
         ${shlibs:Depends}
Description: CUSTOMPROGRAMNAME
 CUSTOMPROGRAMNAME
